.diff-component {
    margin-top: var(--g-spacing-3);

    .css-cncyp1-word-diff {
        padding: 0;
        font-family: var(--g-text-code-font-family);
        font-weight: var(--g-text-code-font-weight);
        font-size: var(--g-text-code-1-font-size);
        line-height: var(--g-text-code-1-line-height);
    }
}
