.react-query-devtools {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: calc(24.5px + var(--g-spacing-4));
    right: var(--g-spacing-4);
    z-index: 1100;
    width: 54px;
}
